<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cards List - Bulma Templates</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="">
  </head>

  <body>

  
        <nav class="level"id="titleBackground">
          <p class="level-item has-text-centered">
            <a class="link is-info" style="color: white;">BLACK WIDOW</a>
          </p>
          <p class="level-item has-text-centered">
            <a class="link is-info" style="color: white;">CAPTAIN AMERICA</a>
          </p>
          <a class="level-item has-text-centered">
            <img id="avengersLogo" alt="AVENGERS " style="height: 90px;">
          </a>
          <p class="level-item has-text-centered">
            <a class="link is-info" style="color: white;">HULK</a>
          </p>
          <p class="level-item has-text-centered">
            <a class="link is-info" style="color: white;">SPIDERMAN</a>
          </p>
        </nav>


    <div class="container">
      <div class="section">
        <div id="app" class="row columns is-multiline">
          <div v-for="card in cardData" key="card.id" class="column is-4">
            <div id="characterCard"></div>
          </div>
          <div v-for="card in cardData" key="card.id" class="column is-7">
            <div id="cocktailCard"></div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>.
            The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br>
          </p>
        </div>
      </div>
    </footer>

    <script src="cocktailScript.js"></script>
    <script src="./js/charactercard.js"></script>

  </body>

</html>
