<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Superhero Cocktails</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="">
  </head>

  <body>

  
        <nav class="level"id="titleBackground">
          <p class="level-item has-text-centered">
            <a class="link is-info" id="BLACKWIDOW" data-attribute="black widow" data-ingredient="vodka" style="color: white;">BLACK WIDOW</a>
          </p>
          <p class="level-item has-text-centered">
            <a class="link is-info" id="CAPTAINAMERICA" data-attribute="captain america" data-ingredient="apple" style="color: white;">CAPTAIN AMERICA</a>
          </p>
          <a class="level-item has-text-centered">
            <img id="avengersLogo" alt="AVENGERS " style="height: 90px;">
          </a>
          <p class="level-item has-text-centered">
            <a class="link is-info" id="HULK" data-attribute="hulk" data-ingredient="lime" style="color: white;">HULK</a>
          </p>
          <p class="level-item has-text-centered">
            <a class="link is-info" id="SPIDERMAN" data-attribute="spider-man (peter parker)" data-ingredient="grenadine" style="color: white;">SPIDERMAN</a>
          </p>
        </nav>

        <section>
          <div id="homepage">
            <h1 id="header">Welcome!</h1>
            <div class="introtext">
              <div class="introtextcontent">
                <p>  
                  Have you always wanted to have your Hulk-themed party and want to make the perfect green drink? Or maybe your kid wants a Spiderman-themed birthday party, and you want to make some fantastic drinks. Well, you're in luck; this website is for you. This Marvel-themed cocktail website includes various beverages associated with four characters, including Black Widow, Captain America, Hulk, and Spiderman. Included with a name and picture of the drink, you also get a list of ingredients and the recipe for the ones you want to try at home. There is also a non-alcoholic or a ‘Mocktail’ version of each Cocktail; that way, your kids can enjoy the drink with you. Do you like a drink but want to look at others? No problem, just save your favorites and keep it moving.  
                </p>
              </div>
              <div class="introtextcontent"></div>
            </div>
            
          </div>   
        </section>
          
            


    <div class="container">
      <div class="section">
        <div id="app" class="row columns is-multiline">
          <div v-for="card in cardData" key="card.id" class="column is-6">
            <div id="characterCard"></div>
          </div>
          <div v-for="card in cardData" key="card.id" class="column is-6">
            <div id="cocktailCard"></div>
        </div>
      </div>
    </div>

    <script src="./assets/js/charactercard.js"></script>
    <script src="./assets/js/cocktailScript.js"></script>

  </body>

</html>
